section {
    margin-bottom: 40px;
}

typography-page h2 {
    font-size: 24px;
}

typography-page .fonts-wrapper .title {
    color: var(--td-color-main);
    font-size: 16px;
    font-weight: semi-bold;
    font-family: 'Noto Sans JP', sans-serif;
}

typography-page .fonts-wrapper .font-family {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

typography-page .font-size-wrapper .extra-large {
    font-size: var(--td-text-extra-large);
}

typography-page .font-size-wrapper .large {
    font-size: var(--td-text-large);
}

typography-page .font-size-wrapper .regular {
    font-size: var(--td-text-regular);
}

typography-page .font-size-wrapper .small {
    font-size: var(--td-text-small);
}

typography-page .font-size-wrapper .extra-small {
    font-size: var(--td-text-extra-small);
}

typography-page .font-size-wrapper {
    margin-top: 40px;
    font-weight: bold;
}
typography-page .font-size-wrapper .title {
    color: var(--td-color-main);
    font-size: 16px;
    font-weight: semi-bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.font-japanese {
  font-family: 'Noto Sans JP', sans-serif;

}
.font-english {
    font-family: 'Avenir';
}

typography-page .font-size-wrapper .font-size {
    margin-bottom: 12px;
}
