td-button-page .components {
    margin-top: 20px;
    padding: 0.3em 1.5em 1.5em;
    border: 0.2rem solid #f8f9fa;
}
td-button-page .title {
    margin-top: 16px;
    font-size: var(--td-text-regular);
    font-weight: bold;
}
td-button-page .item {
    font-size: 14px;
    margin: 8px 4px;
}
td-button-page .item td-button {
    font-size: 18px;
}
td-button-page .size-wrapper {
    display: flex;
}
td-button-page .fill-wrapper {
    display: flex;
}
