section {
    margin-bottom: 40px;
}

color-page h2 {
    font-size: 24px;
}

color-page .color-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

color-page .color-wrapper .color-item {
    margin: 8px;
}

color-page .color-wrapper .color-item::first-child {
    margin-left: 0px;
    margin-right: 8px;
}

color-page .color-wrapper .color-item::last-child {
    margin-right: 0px;
}

color-page .color-wrapper .color-item .title {
    margin-top: 4px;
}

color-page .color-wrapper .color-item .hex {
}

color-page .color-wrapper .color-item .color {
    height: 142px;
    width: 142px;
}

color-page .color-wrapper .color-item .main .color {
    background-color: var(--td-color-main-shade);
}

color-page .color-wrapper .color-item .main-black .color {
    background-color: var(--td-color-main-black);
}

color-page .color-wrapper .color-item .sub-black .color {
    background-color: var(--td-color-sub-black);
}

color-page .color-wrapper .color-item .bg .color {
    background-color: var(--td-color-bg);
}

color-page .color-wrapper .color-item .light .color {
    background-color: var(--td-color-light);
}

color-page .color-wrapper .color-item .border .color {
    background-color: var(--td-color-border);
}

color-page .color-wrapper .color-item .success .color {
    background-color: var(--td-color-success);
}

color-page .color-wrapper .color-item .danger .color {
    background-color: var(--td-color-danger);
}

color-page .color-wrapper .color-item .warning .color {
    background-color: var(--td-color-warning);
}
